{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="bg-dark navbar-dark text-light">
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="{% url 'home' %}">Expense Tracker</a>
        </div>
    </nav>

    <div class="container-fluid my-3">
        <form method="post" class="w-50">
            {% csrf_token %}
            <div class="input-group">
                {% render_field form.name class="form-control" placeholder="Enter Name" %}
                {% render_field form.category class="form-control" placeholder="Enter Category" %}
                {% render_field form.amount class="form-control" placeholder="Enter Name" %}
                <button type="submit" class="btn btn-success">Add Expense</button>
            </div>
        </form>
    </div>
    <div class="container-fluid m-5">
        {% if expenses %}
        <table class="table table-dark ">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for exe in expenses %}
                <tr>
                    <th>{{exe.name}}</th>
                    <th>{{exe.category}}</th>
                    <th>{{exe.amount}}</th>
                    <th>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a href="{% url 'expense-edit' exe.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'expense-remove' exe.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                    </th>
                </tr>
                {% endfor %}
                {% else %}
                <h1>Expense will show here</h1>
                {% endif %}
            </thead>
        </table>
    </div>
    <div class="d-flex m-4">
        <div class="card text-bg-dark mb-3 border border-light mx-3" style="max-width: 18rem;">
            <div class="card-header fs-4">Last 365 Days Expense</div>
            <div class="card-body">
                <p class="card-text text-success fs-2">{{date_sum.year}} ₹ </p>
            </div>
        </div>
        <div class="card text-bg-dark mb-3 border border-light mx-3" style="max-width: 18rem;">
            <div class="card-header fs-4">Last 30 Days Expense</div>
            <div class="card-body">
                <p class="card-text text-success fs-2">{{date_sum.month}} ₹ </p>
            </div>
        </div>
        <div class="card text-bg-dark mb-3 border border-light mx-3" style="max-width: 18rem;">
            <div class="card-header fs-4">Last 7 Days Expense</div>
            <div class="card-body">
                <p class="card-text text-success fs-2">{{date_sum.seven}} ₹ </p>
            </div>
        </div>
    </div>

    <div class="container-fluid my-3">
        <div class="row">
            <div class="col mx-2">
                <h2>Daily Sum</h2>
                <table class="table table-dark table-hover">
                    {% for ele in daily_sum %}
                    <tr>
                        <td>{{ele.date}}</td>
                        <td>{{ele.sum}}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col">
                <div class="chart-container" style="position: relative; height:80vh; width: 50vw;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        {% for ele in category_sum %}
        <div id="cate">{{ele.category}}</div>
        <div id="cateSum">{{ele.sum}}</div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>

        let labels = [];
        let data = [];
        let cate = document.querySelectorAll("#cate");
        let cateSum = document.querySelectorAll("#cateSum");
        for (let i = 0; i < cate.length; i++) {
            labels.push(cate[i].innerHTML);
            data.push(cateSum[i].innerHTML);
        }
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'pie',
            data: {
                title: 'Hello',
                labels: labels,
                datasets: [{
                    label: 'Amount Spend',
                    data: data,
                    borderWidth: 1
                }]
            },
            });
    </script>
</body>

</html>