{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="bg-dark navbar-dark text-light">
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="{% url 'home' %}">Expense Tracker</a>
        </div>
    </nav>

    <div class="container-fluid my-5">
        <h1>Are you sure you want to delete this item</h1>
        <form  method="post">
            {% csrf_token %}
            <div class="mb-3">
                <button type="submit" class="btn btn-danger mx-3">Yes Delete</button>
                <a href="{% url 'dash' %}" class="btn btn-primary">Go Back</a>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>